@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#enquiry {
    padding: 17px 30px;
    background: white;
    box-shadow: 0px 4px 13px 1px rgba(95, 45, 237, 0.16);
    transition: all 0.3s;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #37404E;
    border: 1px solid white;
    margin-top: 30px;
}

#enquiry:hover {
    border: 1px solid #ffffff;
    color: white;
    background: #0C0E2B;
}

/*--------------------------------------------------------------
# Topheader start
--------------------------------------------------------------*/

#topheadicon li {
    border-right: 1px solid #ddd;

}

#topheadicon li a {
    padding: 2px 5px;
    color: #86C425;
    margin: 0px 5px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.1s 0.1s ease-in;
}

#topheadicon li a:hover {
    color: #eeaa23;
}

#topheadicon li a i:hover {
    transform: translateY(-10px);
}

#topheadicon #button .btn {
    background-color: #eeaa23;
    color: #fff;
    transition: all 0.5s 0.1s ease-in;
    font-weight: bold;
}

#topheadicon #button .btn:hover {
    background-color: #86C425;
}

#topheadicon hr {
    margin: 0px;
    padding: 0px;
}

/*--------------------------------------------------------------
# Topheader end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header start
--------------------------------------------------------------*/
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 80px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


#header .logo a {
    color: #222222;
}

#header .logo a span {
    color: #86c222;
}

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

/* Desktop Navigation */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #86c222;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #86c222;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #86c222;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.navbar ul #close {
    display: none;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.fa-solid {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
        position: relative;
    }

    .navbar ul {
        display: none;
    }

    .navbar ul #close {
        display: block;
        font-size: 45px;
        text-align: right;
        margin-right: 20px;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #86c222;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #86c222;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
  # Navigation Menu 
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Header End
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Banner start
  --------------------------------------------------------------*/
#banner {
    /* background-color: #191034; */
    background:url(../img/banner.jpg) scroll no-repeat;
    /* background: linear-gradient(to left, rgba(0, 40, 107, 0.0), rgb(0, 40, 107)), url(../img/banner.jpg ) scroll no-repeat; */
    background-size: cover;
    background-position: center;
    color: white;
    height: 440px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 50px;
}


/*--------------------------------------------------------------
  # Banner End
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Apply start
  --------------------------------------------------------------*/
#apply {
    background-color: #FBFBFB;
    padding: 50px 60px;
}

#apply #applyBoxlist {
    background-color: #191034;
    border-radius: 20px;
}

#apply #applyBox {
    background-color: white;
    padding: 28px;
    box-shadow: 0 0 50px 10px rgba(95, 45, 237, 0.1);
    margin-bottom: 20px;
    transition: all 0.5s;
    border-radius: 10px;
    width: 100%;
    border: 2px solid white;
}

#apply #applyBoxImage {
    margin-bottom: 10px;
}

#apply .applyBoxContent h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

#apply .applyBoxContent p {
    line-height: 29px;
    font-size: 16px;
}

#apply #applyBox:hover {
    background: #00286B;
    transform: translateY(-10px);
    color: white;
}

/*--------------------------------------------------------------
  # Apply End
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Terms and Conditions start
  --------------------------------------------------------------*/
#terms {
    background-color: #191034;
    padding: 50px 60px;
    margin-top: 10px;
}

#terms .container-fluid {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 50px 10px rgba(95, 45, 237, 0.1);
}

#terms .col-md-7 div {
    padding: 15px 20px;
    background-color: #00286B;
    color: white;
    border: 2px solid #00286B;
    border-radius: 7px;
    margin-bottom: 10px;
    transition: all 0.5s;
    font-size: 18px;
    font-family: "Poppins", serif;
}

#terms .col-md-7 div:hover {
    background-color: white;
    color: #00286B;
}

/*--------------------------------------------------------------
  # Terms and Conditions end
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Footer start
  --------------------------------------------------------------*/

#footer {
    background-color: #000;
    width: 100%;
    padding: 40px 0px;

}

#footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .social a {
    color: #fff;
    background-color: black;
    margin: 0 5px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.4s ease-in;

}

#footer .social a:hover {
    color: #000;
    background-color: #fff;
}


/*--------------------------------------------------------------
  # Footer end
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # max-width 992px
  --------------------------------------------------------------*/
@media screen and (max-width:992px) {

    #apply #applyBox {
        margin-bottom: 10px;
    }
}

/*--------------------------------------------------------------
  # max-width 992px
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # max-width 576px
  --------------------------------------------------------------*/
@media screen and (max-width:576px) {
    #banner{
        background:url(../img/banner1.png) no-repeat scroll;
        background-position: center;
        height: 300px;
    }
    #apply {
        padding: 80px 20px;
    }
}

/*--------------------------------------------------------------
  # max-width 576px
  --------------------------------------------------------------*/